.overlay {
    border: 3px solid #ff005500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    box-sizing: border-box;
}

.overlay h3 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.details-button {
    margin-top: auto;
    align-self: flex-end;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #303030ee;
    border-radius: 22px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.details-button:hover {
    background-color: #ddd;
}