
html {
    background-color: #c0c0c0;
}

.main-container {
    font-family: "Oswald", serif, 'Arial Narrow', Arial, sans-serif;
    color: #000;
}


/************************************************************************/
/**************************** MEDIA QUERIES *****************************/
/************************************************************************/


/************************************************************************/
/******************************* DESKTOP *******************************/
@media (min-width: 1281px) {


    /* Site body management on desktop basis */

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex; /* Utilisation de Flexbox pour faciliter le centrage */
        justify-content: center; /* Centrer le contenu horizontalement */
    }
    
    .main-container {
        background-color: #ffffff;
        border: 1px solid #000000;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 1100px; /* Largeur fixe */
        margin-top: 20px; /* Marge pour l'espacement au dessus */
        padding: 20px; /* Espace intérieur de la section */
    }


    h1 {
        display: flex;
        font-weight: bolder;
        font-size: 48px;
        text-indent: 105px;
    }


    .container {
        background-color: rgba(43, 255, 0, 0);
        max-width: 1100px;
        margin: 20px;
    }

    .section-container {
        border: 1px solid rgba(255, 0, 0, 0);
    }

    /* Management of site banner */

    header {
        background-color: #61787e;
        border: 1px solid #000000;
        display: flex;
        justify-content: flex-start; /* Aligne à gauche */
        align-items: center; /* Centre verticalement */
        margin: 35px 105px;
    }

    .logo {
        display: flex;
    }
    
    .title-banner{
        display: flex;
    }

    
    /* Management of “Best Film” category display */

    .best-movie {
        border: 6px solid #000000;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 835px;
        height: 369px;
    }

    .best-movie-img {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
    
    .best-movie-img img {
        display: flex;
        justify-content: center;
        width: 227px;
        height: 334px; 
        margin: 10px;
    }
    
    .best-movie-title h2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 71.14px;
        text-align: left;
        width: 463px;
        height: 44px;
        margin: 0px;
    }
    
    .best-movie-summary p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 501px;
        height: 113px;
        font-size: 28px;
        font-weight: 200;
        line-height: 41.5px;
        text-align: justify;
        margin : 0px;
    }

    .container-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .best-movie-details-button {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-color: red;
        color: white;
        border: none;
        font-size: 22px;
        font-weight: normal;
        width: 166px;
        height: 68px;
        border-radius: 25px;
        cursor: pointer;
        float: right; 
        text-align: center;
        text-decoration: none;
        padding: 2px, 4px, 2px, 4px;
        margin-right : 45px;
        margin-bottom: 10px;
    }

    .best-movie-details-button:hover {
        background-color: darkred;
    }


    /* Management of items from Categories */
    
    .container .item-grid {
        width: 844px;
        height: 558px;
    }

    .item-grid {
        display: grid;
        grid-template-columns: 252px 252px 252px;
        gap: 35px;
        justify-content: center;
    }

    .item {
        position: relative;
        text-align: center;
        width: 252px;
        height: 252px;
    }
    
    .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .item img:hover {
        /* Scale hover*/
        transform: scale(101%);
    }

    .detail {
        position: absolute;
        top: 40px;
        width: 100%;
        height: 130px;
        background-color: #00000075;
    
        h3 {
            color: white;
            text-align: left;
            padding: 1rem;;
        }
    
        .btn {
            background-color: rgba(46, 44, 44, 0.925);
            color: white;
            font-size: 16px;
            font-weight: normal;
            cursor: pointer;
            border: none;
            float: right;
            margin-right: 10px;
            border-radius: 25px;    
            width: 84px;
            height: 26px;
        }
    
    
        .btn:hover {
          background-color:rgb(43, 41, 41);
        }
    }
    

    /* Management of "Show more" from Categories */
    
    .btn-show {
        display: none;
    }
    
    /* Management of "Dropdown" category */

    .section-container {
        border-width: 1px;
    }

    .top-row {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .top-row > h1 {
        margin-right: 10px;
    }

    .top-row > .side-by-side-select {
        margin-right: 20px;
    }

    .side-by-side-select {
        border-width: 1px;
        appearance: none; /* pour enlever le style natif sur certains navigateurs */
        background: url('style/icone.png') no-repeat right center;
        background-position: calc(100% - 20px) center;
        font-family: "Oswald", serif, 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        font-size: 35px;
        margin-top: 10px;
        text-indent: 5px;
        width: 395px;
        height: 60px;
    }


    /* Management of Modal (Desktop) */

    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 50%;
        top: 0%;
        height: 939px; /* Hauteur spécifiée */
        width: 778px; /* Largeur spécifiée */
        border: 5px solid #000000; 
        transform: translate(-50%, 0); /* Centrage horizontal */
    }
    
    .modal-content {
        background-color: white;
        width: 100%; /* Prend toute la largeur du modal */
        height: 100%; /* Prend toute la hauteur du modal */
        padding: 20px;
        text-align: center;
        overflow: auto;  /* Permet le défilement si le contenu dépasse la hauteur du modal */
    }
    
    .modal-grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "a b"
            "c c"
            "d d"
            "e e";
    }

    /* Styles pour les lignes d'informations, alignement de chaque ligne */
    .info-row {
        display: flex;
        justify-content: flex-start;
    }
    
    .info-row > div {
        text-align: left;
        font-size: 24px;
        font-weight: 600;
        line-height: 35px;
        margin-inline-end: 10px;
    }

    .space {
        margin-top: 15px; /* Ajout d'espace pour séparer les sections */
    }

    }

    /* Style de la section des infos principales du film */
    .modal-main-infos-movie {
        display: flex;
        flex-direction: column; /* Flex column : Aligner verticalement les éléments */
        width: 100%;
        max-width: 778px; /* Limiter la largeur du modal */
        grid-area: a;
        text-align: left;
        /*height: 450px; /* Taille a ajuster selon les tests */
    }

    /* Titre du film */
    .title { 
        font-size: 48px;
        font-weight: 600;
        /*line-height: 71.14px;*/
    }

    /* Année, Catégorie, PG Rating, Temps, Pays, imdb-score, box-office */
    .year, 
    .category, 
    .age-pg, 
    .time, 
    .country, 
    .imdb-score, 
    .box-office { 
        font-size: 24px;
        font-weight: 600;
        /*line-height: 35.57px;*/
    }

    /* label "Réalisé par" */
    .label {
        font-size: 24px;
        font-weight: 600;
        /*line-height: 35.57px;*/
        margin-top: 35px;
    }

    /* Réalisateur */
    .director {
        font-size: 24px;
        font-weight: 300;
        line-height: 35.57px;
    }

    /* Image du film */
    .modal-image-movie {
        display: flex;
        justify-content: center;
        object-fit: contain;  /* Conserver l'image entière sans la déformer */
        max-width: 100%; /* L'image ne dépassera pas la largeur de son conteneur */
        max-height: 300px;
    }

    /* Résumé du film */
    .modal-summary {
        grid-area: c;
        font-size: 24px;
        font-weight: 300;
        line-height: 35.57px;
        text-align: justify;
        width: 698px;
        margin-top: 30px;
        height: 100px;
        max-height: 100px; /* Hauteur limite du résumé */
        overflow-y: auto;  /* Scroll si besoin */
    }

    /* "Avec" */
    .modal-with {
        grid-area: d;
        font-size: 20px;
        font-weight: 600;
        line-height: 29.64px;
        text-align: left;
        margin-top: 35px;
    }

    /* Noms des acteurs */
    .modal-actors {
        grid-area: e;
        text-align: left;
        font-size: 20px;
        font-weight: 300;
        line-height: 29.64px;
        width: 692px;
        height: 100px;
        max-height: 100px; /* Hauteur limite de la liste des acteurs */
        overflow-y: auto;  /* Scroll si besoin */
    }

    /* Bouton de fermeture */
    .btn-close {
        float: right;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        background-color: red;
        color: white;
        width: 214px;
        height: 36px;
        padding: 2px 4px;
        border-radius: 25px;
        margin-top: 20px; /* Marge bouton Fermer */
    }

    .btn-close:hover {
        background-color: darkred;
    }



    /************************************************************************/
    /******************************* TABLET *******************************/
    @media (min-width: 768px) and (max-width: 1024px) {


    /*.modal {
        display: none;
    }*/

    /* Site body management on desktop basis */

    /* Management of site banner */
    
    /* Management of “Best Film” category display */

    /* Management of items from Categories */


    /* Management of "Show more" from Categories */
    
    .btn-show {
        display: inline;
        background: red;
        cursor: pointer;
        border: none; 
        color: white;
        font-size: 16px;
        width: 214px;
        height: 36px;
        padding: 2px 4px 2px 4px;
        border-radius: 25px;
    }
    
    .btn-show:hover {
        background-color: darkred;   
    }
    

    .from-third, .from-fifth{
        /* Class to re-display the optional movies */
        display: block !important;
    }


    .selection select {
        font-size: 20px;
        font-weight: bolder;
        position: absolute;
        top: 5px;
        left: 270px;
        width: 25%;
        height: auto;
        padding: 15px;
    }
 

    /* Management of "Dropdown" category */

    

}


    /************************************************************************/
    /******************************* MOBILE *******************************/
    @media (max-width: 767px) {


        /*.modal {
            display: none;
        }*/
    
        /* Site body management on desktop basis */
    
        /* Management of site banner */
        
        /* Management of “Best Film” category display */
    
        /* Management of items from Categories */
    
    
        /* Management of "Show more" from Categories */
        
        .btn-show {
            display: inline;
            background: red;
            cursor: pointer;
            border: none; 
            color: white;
            font-size: 16px;
            width: 214px;
            height: 36px;
            padding: 2px 4px 2px 4px;
            border-radius: 25px;
        }
        
        .btn-show:hover {
            background-color: darkred;   
        }
        
    
        .from-third, .from-fifth{
            /* Class to re-display the optional movies */
            display: block !important;
        }
    
    
        .selection select {
            font-size: 20px;
            font-weight: bolder;
            position: absolute;
            top: 5px;
            left: 270px;
            width: 25%;
            height: auto;
            padding: 15px;
        }
     
    
        /* Management of "Dropdown" category */
    
        
        /* Management of Modal (Mobile) */
}