   
   

/***FOR BROWSER TEST***/

   
* {
    /* Universal selector. It selects all elements on a page ( resets CSS), before applying specific rules */
    box-sizing: border-box;
    align-items: center;
}


body {
    background-color: #e9e3e3;
    border: 6px solid #000000;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 auto;
}




/***MODAL CSS***/


body {
    width: 778px;
    height: 939px;
}

.grid-container {
    border: 2px solid #00ffea;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Deux colonnes de même largeur et "colspan" 3 éléments du dessous */
    grid-template-rows: auto auto; /* Deux rangées */
    grid-template-areas:
            "a b"
            "c c"
            "d d"
            "e e";
    gap: 10px;
    margin: 0 auto; /* Centrer la grille */
}



/*************************************/
/*********** MEDIA QUERIES ***********/
/*************************************/


/* Desktop */

@media (min-width: 1281px) {

    .grid-container {
        width: 778px;
        height: 939px;
    }

    .grid-item {
        padding: 20px;
        margin: 0 auto; /* Centrer la grille */
    }


    .title-modal { grid-area: a; }
    .img-modal { grid-area: b; }
    .summary-modal { grid-area: c; grid-column: span 2;}
    .distribution-modal { grid-area: d; grid-column: span 2;}
    .btn-close { grid-area: e; grid-column: span 2;}


    .title-modal {
        display: grid;
        border: 2px solid #ffe600;
        display: grid;
        width: 423px;
        height: 359px;
        margin: 0 auto;
    }

    .title-modal .large-text {
        font-size: 48px;
        font-weight: 600;
        line-height: 71.14px;
        font-weight: bold;
        text-align: left;
    }

    .title-modal .medium-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 35.57px;
        font-weight: bolder;
        text-align: left;  
    }

    .title-modal .small-text {
        font-size: 24px;
        font-weight: 300;
        line-height: 35.57px;
        font-weight: lighter;
        text-align: left;
    }


    .img-modal {
        display: grid;
        justify-content: left;
        border: 2px solid #3cff00;
        width: 227px;
        height: 334px;
        margin : auto auto;
    }


    .summary-modal {
        border: 2px  solid #ff00b3;
        display: grid;
        width: 698px;
        height: 457px;
        font-size: 24px;
        font-weight: 300;
        line-height: 35.57px;
        font-weight: lighter;
        text-align: left;
    }


    .distribution-modal {
        border: 2px  solid #2600ff;
        display: grid;
        width: 692px;
        height: 248px;
        font-size: 20px;
        font-weight: 400;
        line-height: 29.64px;
        font-weight: lighter;
        text-align: left;
    }

    .close-window-btn .btn-close {
        border: 2px #ff0000;
        display: block;
        margin: auto;
        background: red;
        cursor: pointer;
        border: none; 
        color: white;
        font-size: 16px;
        width: 214px;
        height: 36px;
        padding: 2px 4px 2px 4px;
        gap: 10px;
        border-radius: 25px;
    }

    .btn-close:hover {
        background-color: darkred;   
    }

}


/* Tablet & Mobile */

/* tablette (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* tablette (portrait) */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Smartphone */
@media (min-width: 481px) and (max-width: 767px) {
}